*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #2e3133, #f0f3fa, #f0f3fa, #f0f3fa, #f0f3fa, #f0f3fa,#f0f3fa, #f0f3fa,);
}

.hero
{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    margin: 0;
}
.left
{
    display: grid;
    width: 80%;
}
Nav
{
    display: flex;
    margin: 0 10px;
    width: 95%;
    padding: 5px 0;
    align-items: start;
    justify-content: space-between;
    text-decoration: none;
}

nav ul li 
{
    display: inline-block;
    position: relative;
    margin: 10px ;
    list-style: none;  
}

nav ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 18px;
    transition: all 1.1s ;
}
nav ul li a:hover
{
    background: #000;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}


.Drop-down
{
    height: 190px;
    width: 110px;
    margin-top: 10px;
    position:absolute;
    background: linear-gradient(to right,#fef42f00, #f1edac, #f1edac, #fef42f00);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    border-radius: 0 25px;
    overflow: hidden;
}
ul li ul.Drop-down
{
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
    font-weight: 400;
    display: none;
}  
ul.Drop-down li
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px 0;
}
ul.Drop-down li a{
    color: #000;
}
ul li:hover  ul.Drop-down 
{
    display:block;
}


.Services
{
    height: 160px;
    width: 120px;
    margin-top: 10px;
    position: absolute;
    background: linear-gradient(to right,#fef42f00, #fffba8, #fef42f00);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    border-radius: 0 25px;
    overflow: hidden;
}
ul li ul.Services
{
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
    font-weight: 400;
    display: none;
}  
ul.Services li
{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0;
   margin: 5px 0;
}
ul.Services li a{
    color: #000;
}
ul li:hover ul.Services
{
    display: block;
}


.Contact
{
    height: 130px;
    width: 125px;
    background: linear-gradient(to right, transparent, #e8e7e7, #e8e7e7, transparent);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    margin-top: 10px;
    display: none;
}
.Contact a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 10px;
    font-weight: 300;
    padding: 10px 5px;
}
.Contact li{
    margin: 2px;
}
.Contact i
{
    transition: 2s;
    padding: 5px;
    font-size: 15;
    border-radius: 50px;
    background: transparent;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.977);
    color: #212121;
    margin: 0 5px;
}
.Contact a:hover  i{
    background: transparent;
    color: #f0f3fa;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.999);
}
ul li:hover ul.Contact
{
    display: block;
}






.Describtion
{
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Macondo', cursive;
    font-family: 'Rock Salt', cursive;

    margin-left: 6%;
}

h2
{
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    font-weight: 400;

    margin-bottom: 15px;
}

.fname
{
    font-family: 'Luckiest Guy', cursive;
    font-size: 36px;
    font-weight: 400;
    color: orange;
}
.lname
{
    font-family: 'Macondo', cursive;
    font-size: 36px;
    font-weight: 400;
    color: rgb(136, 91, 7);
}

h4{
    font-family: 'Macondo', cursive;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
}
h5
{
    font-family: 'Macondo', cursive;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgb(229, 80, 21);
}
p{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.social-media
{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 15px;
}
.media-icon
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0 25px;
}
.media-Name
{
    font-family: 'Architects Daughter', cursive;
    font-size: 10px;
    font-weight: 400;
    margin: 5px 0;
    padding: 5px 12px;
    border-radius: 5px;
    background: #212121;
    color: #f0f3fa;
    display: none;
    transition: 1.2s;
    position: absolute;
    bottom: 6px;
}
.media-icon:hover  i
{
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.977);
}
.media-icon:hover  .media-Name
{
    display: block;
    background: #212121;
    color: #f0f3fa;
}
.media-icon  i
{
    cursor: pointer;
    font-size: 15px;
    padding: 9px 10px;
    color: #000;
    border-radius: 50%;
    transition: 1.1s;
    position: absolute;
    top: 0;
    background: transparent;
    box-shadow: 0 0 3px rgba(162, 162, 162, 0.991);
}





.Right
{
width: 50%;
height: 90%;
position: relative;
bottom: 0;
}
.Right .fa-adjust
{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 15px;
    padding: 9px 10px;
    border-radius: 50%;
    background: #f0f3fa;
    color: #212121;
}
.blac-rec
{
    position: absolute;
    top: 50px;
    height: 100%;
    width: 80%;
    background: linear-gradient(to top, #dfe3e7, #3757a1,  #212121);
    border-radius: 0 25%;
    transition: bottom 1s left 1s;
}

.my-pic
{
    height: 550px;
    position: absolute;
    left: 25%;
    top: 0;
    transform: translateX(-30%);
    transition: all 2s;
}
/*.my-pic:hover
{
    transform: scale(1.2);
    left: 5px;
} */


body.Mode  
{
    background: #212121;
}
body.Mode .fa-adjust 
{
    background: #212121;
    color: #f0f3fa;
}
body.Mode .blac-rec
{
    background: linear-gradient(to bottom, #2e3133, #000 , #3757a1);
}
body.Mode ul li a
{
    color: #f0f3fa;
}
body.Mode ul li a:hover
{
    background: #f0f3fa;
    color: #000;
}
body.Mode .Describtion h2
{
    color: #f0f3fa;
}
body.Mode .Describtion h4
{
    color: #f0f3fa;
}
body.Mode .Describtion h5
{
    color: #ea9292;
}
body.Mode .Describtion p
{
    color: #f0f3fa;
}

body.Mode .media-icon:hover .media-Name
{
    background: transparent;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.999);
    color: #f0f3fa;
}
body.Mode .media-icon  i
{
    background: transparent;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.422);
    color: #f0f3fa; 
}
body.Mode .media-icon  i:hover
{
    box-shadow: 0 0 3px rgba(240, 243, 149, 0.999);
    color: #f0f3fa;
}
body.Mode .Services 
{
    background:linear-gradient(to right, #000,#363434c1,#000) ;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
}
body.Mode .Drop-down 
{
    background:linear-gradient(to right, #000,#363434c1,#000) ;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
}
body.Mode  .Contact
{
    background:linear-gradient(to right, #000,#363434c1,#000) ;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
}
body.Mode  .Contact a:hover  i
{
    background: transparent;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.977);
    color: #212121;
}
body.Mode  .Contact a  i
{
    background: transparent;
    color: #f0f3fa;
    box-shadow: 0 0 3px rgba(240, 243, 149, 0.999);
}